#파이썬 가상환경 제외
venv/
.venv/
env/

#허깅페이스가 모델을 다운로드하는 기본 캐시 폴더 제외
.cache/
.huggingface/

#파이썬 실행 시 생성되는 임시 파일들
__pycache__/
*.pyc

#오디오 분석 시 생성되는 임시 파일 제외
temp.wav

#보안 정보 적어 둔 파일 제외
.env
node_modules/
uploads/